# Игнорировать папку с аудио файлами
audio_downloads/

# Игнорировать модули Node.js (зависимости)
node_modules/

# Игнорировать файлы кэша и логов, специфичные для Node.js/npm
npm-debug.log*
.DS_Store # macOS специфический файл
*.env # Файлы окружения, если вы их используете